
node_modules/

src/data/
public/story_pages/page_1.png
public/story_pages/page_10.png
public/story_pages/page_11.png
public/story_pages/page_12.png
public/story_pages/page_13.png
public/story_pages/page_2.png
public/story_pages/page_3.png
public/story_pages/page_4.png
public/story_pages/page_5.png
public/story_pages/page_6.png
public/story_pages/page_7.png
public/story_pages/page_8.png
public/story_pages/page_9.png
public/story_pages/title_page.png
public/data/Leibowitz_Final.pdf
public/data/ShaineLeibowitz_Resume.pdf
public/images/GitHub-Mark-Light-120px-plus.png
public/images/linkedin-512.png
public/images/profesh.jpeg
posts/cornell-tech-guide.md
posts/the-book-is-on-the-table.md
