.App {
  text-align: center;
  background:
  radial-gradient(pink 3px, transparent 4px),
  radial-gradient(pink 3px, transparent 4px),
  linear-gradient(white 4px, transparent 0),
  linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
  linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  white;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  color: darkmagenta;
  text-shadow: -1px 1px 1px black;
  font-family: Haettenschweiler, 'Arial Narrow Bold', serif;
  padding: 5px;
  
}

h1 {
  font-size: 100px;
  text-shadow: -2px 2px 2px black;
  border-bottom: 15px ridge plum;
  display: inline-block;
  padding: 30px; 
}

.project{
  
  flex-wrap: wrap;
  padding: 30px; 
  background: white;
  border-left: 15px ridge darkmagenta;
  border-right: 15px ridge darkmagenta;
  font-family: Haettenschweiler, 'Arial Narrow Bold', serif;
  
}

.project-video{
  border: 15px ridge plum; 
  
}

.project-title{
  font-size: 40px;
  padding: 5px; 
}

.project-category{
  font-size: 50px;
}

.thumbnails{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}

.navigation{
  font-size: 50px;
  border-bottom: 15px ridge plum;
  display: flex;
  padding: 30px; 
  align-items: center;
  justify-content: space-between;
  background: white;
}

.navigation a {
  color:darkmagenta;
  text-decoration: none;
  padding: 50px; 
}

.navigation a:hover {
  color:fuchsia;
}

.post{
  color: black;
  background: white;
  font-size: 2em;
  text-decoration: none;
  text-align: left;
  padding: 30px; 
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}