.App {
  text-align: center; 
  background: linear-gradient(#0D6EFF, #7E12B3);
  color:#FFDD00;
  text-shadow: -3px 6px 8px black;
  font-family: Haettenschweiler, 'Arial Narrow Bold', serif;
  padding-top: 25vh;
  
}



h1 {
  font-size: 3vw;
  text-shadow: -8px 10px 10px black;
  border: 15px ridge #FFDF00	 /*#f4c815*/;
  display: inline-block;
  padding: 1.5vh; 
}

.Header_title{
  font-size: 6vh;
  border:none;
  padding: 0px;
}

.project{
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

.player, img{
  border: 15px ridge #FFDF00; 
  width: 90vw;
  height: 50vh;
  box-shadow: -1vh 3vw 7vh black;
}


.project-category, .post-title{
  font-size: 3vw;
  padding-top: 7vh; 
}

.project-title, .post-date{
  font-size: 2vw;
  padding-bottom: 7vh; 
}
.post-description{
  font-size: 2vw;
}

.thumbnails{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}

.blog_posts{
  display: block;
  justify-content: space-around;
  padding-top: 5vh;
  color:#f9cad7;
  

}

.PostPreview {
  text-decoration: none;
}


.navigation{
  font-size: 2vw;
  display: flex;
  
}

.navigation a {
  color:#FFDF00;
  text-decoration: none;
  padding: 50px; 
}

.navigation a:hover{
  color:#f9cad7;
  position: relative; 
  top: -1vh;
}

.answers{
  border: 1vh ridge #FFDF00;
  color: black;
  background: white;
  font-size: 3em;
  text-shadow: none;
  text-align: left; 
  padding-left: 3vw;
  padding-right: 3vw;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-left: 15px ridge f4c815;
  border-right: 15px ridge f4c815;
  display: flex;
}

h2, h3{
  color:#f9cad7;
}


.opener{
  color: darkmagenta;
  
  display: block;
  font-family: Haettenschweiler, 'Arial Narrow Bold', serif;
  padding-bottom: 3vh;
  text-align: center;
}

li {
  list-style-type : '';
}

.post{
  padding:4vw;
}

a img:hover{ 
  position: relative; 
  top: -1vh;
}

.home{
  background-image: url("./data/code.png");
}


.ReactStickyHeader_midground {
  
  border: 1vh ridge #FFDF00;
}
