.App {
  text-align: center; 
  background: #1a1a1d;
  color: #f8f8ff;
  text-shadow: -2px 2px 2px #f8f8ff;
  font-family: Haettenschweiler, 'Arial', sans-serif;
  padding-top: 25vh;
  padding-bottom: 10vh;
}



h1 {
  font-size: 5vh;
  
  display: inline-block;
  padding: 1.5vh; 
}

.Header_title{
  font-size: 6vh;
  padding: 0px;
}

.player, img{
  border: 1vh ridge #d83f87; 
  width: 80vw;
  height: 50vh;
  -webkit-box-shadow: 0px 5vh 7vh -5vh black, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 5vh 7vh -5vh black, 5px 5px 15px 5px rgba(0,0,0,0);

}


.project-category, .post-title{
  font-size: 3vw;
  padding-top: 3vh; 
}

.post-title-p{
  font-size: 3vw;
}

.project-title, .post-date{
  font-size: 2vw;
  padding-bottom: 7vh; 
}
.post-description{
  font-size: 2vw;
}

.thumbnails{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.blog_posts{
  display: block;
  justify-content: space-around;
  
  color:#f8f8ff;
  

}

.PostPreview {
  text-decoration: none;
}


.navigation{
  font-size: 2vw;
  display: flex;
  
}

.navigation a {
  color:#f8f8ff;
  text-decoration: none;
  padding: 2vw; 
}

.logo_link{
  padding-left: 2vw; 
}

.navigation a:hover{
  color:#d83f87;
  position: relative; 
  top: -1vh;
  text-shadow: -2px 2px 2px #d83f87;
}

.answers{
  border: 1vh ridge #d83f87;
  
  font-size: 3em;
  
  text-align: left; 
  padding-left: 3vw;
  padding-right: 3vw;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-left: 1vh ridge f4c815;
  border-right: 1vh ridge f4c815;
  display: flex;
}

h2, h3{
  color:#d83f87;
  text-shadow: -2px 2px 2px #d83f87;
}


.opener{
  color: FFC247;
  display: block;
  font-family: Haettenschweiler, 'Arial Narrow Bold', serif;
  text-align: center;
}

li {
  list-style-type : '';
}

.post{
  padding:4vw;
}

a img:hover{ 
  position: relative; 
  top: -1vh;
}

.home{
  font-size: 10vh;
  padding: 20vh;
  text-align: center; 
  
}


.ReactStickyHeader_midground {
  
  border-bottom: 1vh ridge #d83f87;
}


