html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f9f9f9;
  color:#0d1a26;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color:#0d1a26;
}

img{
  max-width: 100% ; 
  display: block;
}