.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;  
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
    font-weight: 800;
  }
  
  .headingMd {
    font-size: 1.2rem;
    
    font-weight: 800;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #b3b3b3;
  }

  .li {
    list-style: none;
  }

  .nav {
   
    position: fixed;
    background: #181818;
    top: 0;
    left: 0;
    box-shadow: 0rem .2rem .2rem #ff6ec7;
    animation: moveDown 0.5s ease-in-out;
    height: 5rem; 
    width: 100%;
    
    
  }

  .nav a{
    float: left;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 800;
    display: block;
    padding: 0.5rem;
    
  }
  
  .logo {
    width: auto;
    height: 1.4rem;
    text-align: center;
  }

  .project{
    border: 0.4rem double #ff6ec7; 
    width: 720px;
    height: 480px;
    margin-bottom: .8vh;
    
  }

  .pdf, .story{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }