@media screen and (min-width: 601px) {
  .heading_home {
    font-style: normal;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .heading_home {
    font-style: normal;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
    padding-top: 40px;
  }
}

@media screen and (min-width: 601px) {
  .heading2_home {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.383333px;
    text-align: center;  
  }
}

@media screen and (max-width: 600px) {
  .heading2_home {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.383333px;
    text-align: center;  
  }
}

@media screen and (max-width: 600px) {
  .about{
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .about{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.383333px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px){
  .homepage_text{
    display: none;
  }
}

@media screen and (min-width: 601px){
  .homepage_text {
    margin: 75px 40px 60px !important;
  }
}

.headingXl {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0.383333px;
  color: #F17591;
  border-bottom: 1px solid #F17591;
  display: flex;
  margin-bottom: 40px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

}

@media screen and (min-width: 601px) {
  .nav {
    position: fixed;
    background-color: #fabdcc !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    height: 50px;
    line-height: 50px;
    -webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.5);
    z-index: 999999;
    top: 0;
    left:0;
    width: 100vw; 
  }
}

@media screen and (max-width: 600px) {
  .nav {
    position: fixed;
    background-color: #fabdcc !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    height: 40px;
    line-height: 35px; 
    -webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.5);
    z-index: 999999;
    top: 0;
    left:0;
    width: 100vw; 
  }
}

@media screen and (min-width: 601px) {
  .nav_grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .nav_grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .list a {
    color: white;
    display: block;
    font-size: 16px;
    margin: 0px 8px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal; 
    letter-spacing: normal;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    text-shadow: -1px 1px 1px #0d1a26;
  }
}

@media screen and (min-width: 601px) {
  .list a {
    color: white;
    display: block;
    font-size: 18px;
    margin: 0px 18px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal; 
    letter-spacing: normal;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    text-shadow: -1px 1px 1px #0d1a26;
  }
}

@media screen and (max-width: 600px) {
  .me{
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
    text-shadow: -1px 1px 1px #0d1a26;
  }
}

@media screen and (min-width: 601px) {
  .me{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin-left: 20px;
    text-shadow: -1px 1px 1px #0d1a26;
  }
}

@media screen and (min-width: 601px) {
  .logo {
    width: auto;
    height: 16px;
    text-align: center;
    right: 0;
    box-shadow: -1px 1px 1px #0d1a26;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    width: auto;
    height: 14px;
    text-align: center;
    right: 0;
    box-shadow: -1px 1px 1px #0d1a26;
  }
}

@media screen and (min-width: 601px) {
  .list {
    list-style: none;
    margin: 0;
    min-width: 200px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .list {
    list-style: none;
    margin: 0;
    padding:0;
  }
}

@media screen and (max-width: 600px) {
  .home{
    
    margin: 40px 0;
  }
}

@media screen and (min-width: 601px) {
  .home{
    height: 100vh;
    border-right: 4px solid #F17591;
    border-bottom: 4px solid #F17591;
    margin: 50px 0;
  }
}


.list a:hover, .me:hover {
  color:#0d1a26;
}


.headingMd {
  font-size: 1.2rem;
  
}

.list li{
  display: inline-block;
}


.blog_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog_list a{
  color:#0d1a26;
}

.blog_img{
  width: 100%;
  object-fit: cover;
  height: 200px;
  object-position: top center;
}

.blog_details{
  padding: 20px 40px 10px 42px;
}


.listItem{ 
  width: 345px;
  display: flex;
  flex-direction: column;
  margin-bottom: 63px;
  justify-content: space-between;
  box-shadow: 8px 8px 0 0 rgba(0,0,0,0.05);
  background-color: #ffffff;
  transition: .2s;
}

.listItem:hover {
  box-shadow: 8px 8px 0 0 #fabdcc;;
}

.lightText {
  color: #b3b3b3;
}

.li {
  list-style: none;
  margin-bottom: 0.25em;
}

.home_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  
}
